<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        {% assets 'css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
        <script
            src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
            defer></script>
    </head>
    <body class="debug-screens">
        <nav class="bg-teal-300 x-data="{ open: false }">


            <ul class="flex justify-evenly">
                <li class="mr-3">
                    <a class="inline-block px-4 py-2 text-white bg-blue-500 border border-blue-500 rounded hover:bg-blue-700"
                        href="#">Active
                        Pill</a>
                </li>
                <li class="mr-3">
                    <a class="inline-block px-4 py-2 text-blue-500 border border-white rounded hover:border-gray-200 hover:bg-gray-200" href="#">Pill</a>
                </li>
                <li class="mr-3">
                    <a class="inline-block px-4 py-2 text-gray-400 cursor-not-allowed" href="#">Disabled Pill</a>
                </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}

    </body>

</html>
