{% extends 'base.html' %}
{% block body %}

<nav class="bg-teal-300 p-2 mt-0 fixed w-full z-10 top-0 x-data="{ open: false
    }">


    <ul class="flex justify-evenly">
        <li class="mr-3">
            <a class="inline-block px-4 py-2 text-white bg-blue-500 border border-blue-500 rounded hover:bg-blue-700"
                href="#">Home</a>
        </li>
        <li class="mr-3">
            <a class="inline-block px-4 py-2 text-blue-500 border border-purple-900 rounded hover:border-gray-200 hover:bg-gray-200" href="{{
                url_for('home') }}">Demo</a>
        </li>
        <li class="mr-3">
            <a class="inline-block px-4 py-2 text-gray-400 cursor-not-allowed"
                href="#">Disabled Pill</a>
        </li>
    </ul>

</nav>

<div class="container h-screen mx-auto mt-24 bg-white shadow-lg md:mt-16">
    <section id="Introduction" class="grid grid-cols-2 gap-5 px-8 mt-5 mb-5 text-blue-900">
        <div id="intro" class="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                iusto
                dolorum id quibusdam animi illum nam velit ab, itaque iure rem,
                praesentium ipsa inventore nisi quod porro. Harum, enim
                voluptatibus.</p>
        </div>
        <div id="intro2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                iusto
                dolorum id quibusdam animi illum nam velit ab, itaque iure rem,
                praesentium ipsa inventore nisi quod porro. Harum, enim
                voluptatibus.</p>
        </div>
    </section>


    <section id="about" class="px-8">
        <h2 class="text-xl text-blue-900">What we offer:</h2>
        <ul class="ml-5 text-green-900 list-disc">
            <li>Python</li>
            <li>MSSQL</li>
            <li>Microsft PowerApps and PowerBI</li>
        </ul>


    </section>

    <section id='testing'>

        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque
        quis
        placeat dolorem provident. Ullam placeat, enim dolorem corporis vitae
        beatae
        totam ut, laboriosam neque quisquam ex similique, quae sint provident.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque molestias
        debitis totam reiciendis ad blanditiis asperiores eaque nihil expedita,
        ratione reprehenderit molestiae deleniti dolorem dolor repudiandae
        distinctio laudantium numquam quos natus, minus, eligendi enim modi!
        Explicabo, saepe illum. Esse sed neque corrupti quas voluptatum modi ut
        reiciendis illum harum! Nam, unde eius. Optio esse pariatur dolores
        repellat
        nulla. Corporis maxime voluptate ex? Saepe expedita rerum officia, unde
        quae
        voluptate necessitatibus maxime. Dolorum iure nemo at ex repellat
        distinctio
        maiores quae ullam quos aperiam hic excepturi repellendus quis officiis,
        aliquid omnis necessitatibus quo, ab mollitia quam veritatis accusamus
        delectus pariatur? Aut beatae necessitatibus illo voluptas ullam porro!
        Adipisci inventore ut, repudiandae vero architecto asperiores fugit qui
        reiciendis magni perspiciatis dolorem rem praesentium perferendis? Quasi
        consequuntur nam laborum, doloremque voluptate quae hic eaque explicabo.
        Facilis neque a quaerat nemo explicabo vitae minus accusantium repellat?
        Corporis est sunt error accusantium aperiam, voluptates laborum
        architecto
        quisquam, suscipit officia, officiis non! Iusto tenetur magni officiis
        totam
        dolor aut nesciunt maiores eos excepturi quia esse error, soluta nisi
        natus
        libero assumenda ad eligendi. Dolor repellendus accusamus odio
        asperiores
        reprehenderit, perspiciatis eaque soluta mollitia deserunt! Consequatur
        quibusdam eligendi officia consequuntur excepturi non rem, aliquam
        sequi.
        Dolores voluptatibus ad ipsam quisquam voluptatum alias soluta
        perspiciatis
        repellendus illum unde, magni iusto qui doloribus animi sint debitis
        nisi et
        modi natus veritatis, omnis architecto iure cupiditate error! Reiciendis
        illum est ullam porro ipsa eaque aperiam et quibusdam ea voluptates,
        quod
        placeat quae esse quo cumque blanditiis sed eligendi facere aliquam enim
        quasi sit! Delectus ad nam dolor hic reprehenderit excepturi deserunt
        aut et
        ipsum fuga accusamus possimus necessitatibus commodi ducimus autem
        dolorum
        sunt nesciunt libero, consectetur architecto saepe eligendi. Deleniti
        harum
        laborum qui neque quia temporibus recusandae vel corrupti totam ipsa
        suscipit error at exercitationem, beatae doloremque perferendis nisi
        dolor
        fugiat quos, cumque magnam placeat necessitatibus quibusdam similique.
        Aliquam quisquam temporibus eius iusto ut maxime dicta a, molestiae
        inventore non quia natus, placeat, sapiente suscipit consequatur dolores
        unde? Omnis laboriosam inventore exercitationem incidunt facere, dicta
        totam
        architecto repellendus ipsum. Ipsa mollitia expedita autem, quia quam
        modi,
        perspiciatis non dolor animi numquam repellendus hic aspernatur. Et
        assumenda perspiciatis dolorem id sequi autem neque rem numquam nisi
        soluta
        repellat odio iure aliquid at, similique consequuntur molestiae commodi
        hic
        cumque eius fugiat laboriosam? Temporibus, excepturi explicabo provident
        officia, voluptatum sunt iste nobis ipsum culpa soluta blanditiis
        perferendis perspiciatis eos sapiente atque fugit veniam nostrum est?
        Ratione voluptatibus reprehenderit veniam perspiciatis maiores suscipit
        consequuntur laudantium iusto delectus aperiam harum, eaque minima quam.
        Nobis atque nemo nam perspiciatis possimus ipsa dolore laboriosam,
        tempore
        nulla dicta fugit sit rem quam vel, modi officia est doloribus. Maxime
        quae,
        sapiente numquam temporibus esse quasi? Repellat dignissimos delectus
        architecto sit. A sunt illum itaque culpa praesentium ipsa fuga nemo
        recusandae doloremque quibusdam corporis repudiandae error sit veniam
        maxime
        quaerat veritatis id, rerum odit nihil, natus suscipit. Itaque, est unde
        minus beatae magni esse sapiente recusandae exercitationem maxime
        ratione
        magnam qui iste a culpa, libero possimus incidunt asperiores iure ab
        quidem
        velit. Error provident delectus harum debitis libero atque dolorem ipsam
        voluptates sequi sunt quo quibusdam vero id velit ea commodi recusandae,
        est
        enim quaerat assumenda minima esse quas odit? Perspiciatis consequatur
        consequuntur dolorum expedita provident illum, voluptate, consectetur
        esse
        vero earum voluptas est beatae. Ipsam ipsa, neque sed maxime fuga
        corrupti
        rem officia natus aliquam, rerum quibusdam dicta similique ratione
        voluptate
        qui, sequi vitae. Sed, quos? Molestias, esse? Ex, sunt voluptas
        repellendus
        fugit facere accusamus nihil quo rerum qui possimus consectetur omnis
        expedita necessitatibus doloribus maiores, quod quas similique labore,
        doloremque alias? Consectetur, est quos. Temporibus iure incidunt
        cupiditate
        provident illum aliquid. Soluta, autem cupiditate ab officia inventore
        harum
        assumenda ipsam sed non totam? Consectetur doloremque aperiam
        praesentium
        doloribus ad neque at sequi, commodi quibusdam rerum blanditiis
        laudantium
        saepe, soluta quae incidunt iusto quis natus accusamus ipsam! Incidunt
        vel
        eos distinctio accusantium quas impedit corporis adipisci aliquam qui ea
        ipsa eligendi nam dolore numquam, quos voluptatibus tempora recusandae
        eum
        aliquid libero quae dolores hic aspernatur dolor! Pariatur voluptates
        iure
        odit quia, deserunt molestiae minima a illo ipsam necessitatibus atque,
        asperiores natus quo! Molestiae ullam placeat totam eaque in enim
        assumenda
        reiciendis deserunt, porro eos culpa debitis nam, explicabo tenetur odio
        laborum dignissimos repellendus facere illo suscipit, rerum iste
        excepturi?
        Officiis maxime quidem enim nostrum consequuntur laboriosam corporis
        consequatur nisi qui voluptatum eos quis cupiditate quos soluta totam
        iure
        commodi, nam animi incidunt? Quam fuga repellat harum quos doloribus
        ipsa
        aliquam minima dolorem, nulla nobis! Voluptate saepe omnis adipisci
        recusandae minima! Illum, voluptatibus natus. Veritatis perspiciatis
        magni
        ipsum, debitis eligendi facere est nulla dolorem voluptatibus fugiat
        exercitationem aut amet rerum labore. Fugit reprehenderit blanditiis
        molestiae eligendi praesentium, obcaecati incidunt debitis atque illo
        possimus dolore ea error aspernatur et sunt officiis, deleniti placeat,
        consectetur vel a sapiente rem autem cupiditate. Quibusdam sunt
        consequatur
        dolorum temporibus nam distinctio deleniti repellat, sequi praesentium
        dolor
        atque veniam esse explicabo error eveniet! Distinctio, minima porro, ab
        commodi ex omnis veniam eligendi enim nostrum doloremque animi
        praesentium
        eveniet deserunt sunt vero excepturi inventore cumque eaque repudiandae
        nam
        odit delectus error expedita quasi! Consequuntur ullam adipisci expedita
        illo beatae neque, consectetur fuga sed cupiditate ad. Amet nesciunt at
        eveniet recusandae, saepe voluptatibus blanditiis sint nam quisquam
        voluptatum consequuntur est non quae cupiditate facere aliquam sapiente
        harum totam tempore excepturi in. Expedita, explicabo voluptate corrupti
        nam
        non at nulla. Aut ad eveniet nostrum fugit tempore nisi distinctio,
        perspiciatis placeat eos repellat est sit repudiandae reprehenderit
        itaque?
        Temporibus modi iure, reiciendis quia incidunt distinctio hic iste quae
        doloremque assumenda porro alias, veritatis, exercitationem provident
        repellat sunt pariatur eius dolores corporis reprehenderit nesciunt
        placeat
        numquam quod. Autem, ratione consequuntur? Assumenda cupiditate vel
        tempore?
        Sunt, error eaque dolorum rem facere provident aspernatur delectus sed
        nemo
        illo, quo veniam nam excepturi! Assumenda modi odio nam voluptate animi
        soluta ab ad officiis, reiciendis ex recusandae aut, provident ut
        consequatur, alias quo eius quam? Obcaecati dolor incidunt, blanditiis,
        minima ex velit voluptatibus expedita excepturi facilis necessitatibus
        non
        molestiae asperiores earum perferendis rem fugiat dolorum.
    </section>

    <div x-data="{ isOpen: false }">
        <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700" @click="isOpen= !isOpen">Click!</button>
        <span x-show="isOpen">
            <p1 class="text-blue-600"> Hello {{ name }} </p1>
        </span>
    </div>


    <button class="px-4 py-2 font-semibold text-gray-800 bg-white border border-gray-400 rounded shadow hover:bg-gray-100">
        Button
    </button>

</div>

{% endblock %}
